@font-face {
	font-family: DejaVuSans;
	font-display: swap;
	src: url("../fonts/DejaVuSans-Bold.woff2") format("woff2"), url("../fonts/DejaVuSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: DejaVuSans;
	font-display: swap;
	src: url("../fonts/DejaVuSans.woff2") format("woff2"), url("../fonts/DejaVuSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
