@font-face {
	font-family: dejavusans;
	font-display: swap;
	src: url("../fonts/dejavusans.woff2") format("woff2"), url("../fonts/dejavusans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dejavusansbold;
	font-display: swap;
	src: url("../fonts/dejavusansbold.woff2") format("woff2"), url("../fonts/dejavusansbold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
