.rectangles-effect
{
    position: relative;
    .rect
    {
        border: 1px solid $_firstColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
    }
    .rect:nth-child(1)
    {
        width: 18.5px;
        height: 18.5px;
    }
    .rect:nth-child(2)
    {
        width: 38px;
        height: 38px;
    }
    .rect:nth-child(3)
    {
        width: 57.5px;
        height: 57.5px;
    }
}