.slider-controller
{
    @include dfae;
    .left
    {
        @include dfae;
        .arrow
        {
            height: 14px;
            transform: rotateY(180deg);
        }
        .order
        {
            margin-right: 5px !important;
            margin-left: 7px;
        }
    }   
    & > p
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
    }
    .right
    {
        @include dfae;
        .count
        {
            margin-left: 4px;
            margin-right: 7px;
        }
        .arrow
        {
            height: 14px;
        }
    }
    .order, .count
    {
        font-size: 14px;
        font-weight: 700;
        transition: 0.3s;
    }
    .right, .left
    {
        cursor: pointer;
        &:hover
        {
            div
            {
                color: $_firstColor !important;
            }
            .order
            {
                margin-left: 10px;
                font-size: 15px;
            }
            .count
            {
                margin-right: 10px;
                font-size: 15px;
            }
        }
    }
    &.big
    {
        align-items: center;
        .arrow
        {
            height: 24px;
        }
        .left, .right
        {
            align-items: center;
        }
        .order
        {
            margin-right: 5px !important;
            margin-left: 7px;
        }
        .right:hover, .left:hover
        {
            .order
            {
                margin-left: 13px;
            }
            .count
            {
                margin-right: 13px;
            }
        }
    }
    &.white
    {
        & > p, .order, .count
        {
            color: $_secondTextColor !important;
        }
    }   
    &.yellow-hover.right:hover div, .left.yellow-hover.left:hover div
    {
    }
}
.slider-controller.yellow-hover .right:hover .count
{
    color: $_secondColor !important;
}
.slider-controller.yellow-hover .left:hover .order
{
    color: $_secondColor !important;
}

.slider-indicators
{
    @include dfjc;
    &.white
    {
        .indicator
        {
            background-color: $_secondBackgroundColor;
        }
    }
    .indicator
    {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        border: 1px solid $_thirdColor;
        transition: 0.2s;
        margin-right: 7px;
        background-color: transparent;
        cursor: pointer;
        &.active
        {
            background-color: $_secondColorLight;
        }
        &:hover
        {
            background-color: $_secondColorLight;
            opacity: 0.5;
        }
        &.active:hover
        {
            opacity: 1;
        }
    }
    
    & li:last-child button
    {
        margin-right: 0;
    }
}