.video
{
    width: 542px;
    height: 270px;
    border-radius: 10px;
    background-image: url("@img/video.png");
    position: relative;
    padding: 0;
    cursor: pointer;
    button
    {
        cursor: pointer;
        background-color: transparent;
        @include pac;
        img
        {
            height: 82px;
        }
    }
}