// Header Starts
header
{
    padding: 18px 0;
    box-shadow: $_headerShadow;
    background-color: $_secondBackgroundColor;
    transition: 0.3s;
    z-index: 99;
    .container
    {
        position: relative;
        @include dfsb;
        .logo
        {
            @include dfac;
            img
            {
                margin-right: 6px;
                height: 47px;
            }
            strong
            {
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
            }
        }
        .navigation
        {
            ul
            {
                @include dfjc;
                li
                {
                    margin-right: 18px;
                    a
                    {
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: -0.04em;
                        transition: 0.2s;
                        cursor: pointer;
                        &:hover
                        {
                            color: $_firstColor;
                        }
                    }
                    &:last-child
                    {
                        margin-right: 0;
                    }
                }
            }
            .dropdown
            {
                position: relative;
                .dropdown-menu
                {
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    left: 0;
                    background-color: $_secondBackgroundColor;
                    transform: translateY(0);
                    padding: 15px 25px;
                    border-radius: 10px;
                    box-shadow: $_headerShadow;
                    border: 1px solid $_bordersColor;
                    pointer-events: none;
                    transition: 0.3s;
                    a
                    {
                        white-space: nowrap;
                        display: block;
                    }
                    a:first-child
                    {
                        padding-bottom: 8px;
                        border-bottom: 1px solid $_firstColor;
                    }
                    a:last-child
                    {
                        padding-top: 8px;
                    }
                    &.active
                    {
                        top: 100%;
                        opacity: 1;
                        transform: translateY(40px);
                        pointer-events: auto;
                    }   
                }
            }
        }
        .contacts
        {
            @include dfac;
            img
            {
                width: 20px;
                margin-right: 6px;
            }
            .number
            {
                i
                {
                    font-size: 11px;
                    font-weight: 400;
                    color: $_mainTextColor;
                    @include dfas;
                    span
                    {
                        font-size: 18px;
                        margin-left: 1px;
                        line-height: 0.77;
                    }
                    margin-bottom: 3px;
                }
                a
                {
                    font-size: 12px;
                }
            }
        }
        .languages
        {
            @include dfac;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(35px, -50%);
            width: 57px;
            img
            {
                width: 25px;
                height: 17px;
                opacity: 0.26;
                cursor: pointer;
                &.active
                {
                    opacity: 1;
                }
            }
            img:last-child
            {   
                margin-left: 7px;
            }
        }
    }
    &.show
    {
        position: sticky;
        top: 0 !important;
        left: 0 !important;
    }
}
// Header Ends


@media all and (max-width: $_media_XXLarge) 
{header
    {
        padding: 18px 0;
        box-shadow: $_headerShadow;
        background-color: $_secondBackgroundColor;
        transition: 0.3s;
        z-index: 99;
        .container
        {
            position: relative;
            @include dfsb;
            .logo
            {
                @include dfac;
                img
                {
                    margin-right: 6px;
                    height: 47px;
                }
                strong
                {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 14px;
                }
            }
            .navigation
            {
                ul
                {
                    @include dfjc;
                    li
                    {
                        margin-right: 18px;
                        a
                        {
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: -0.04em;
                            transition: 0.2s;
                            &:hover
                            {
                                color: $_firstColor;
                            }
                        }
                        &:last-child
                        {
                            margin-right: 0;
                        }
                    }
                }
            }
            .contacts
            {
                @include dfac;
                img
                {
                    width: 20px;
                    margin-right: 6px;
                }
                .number
                {
                    i
                    {
                        font-size: 11px;
                        font-weight: 400;
                        color: $_mainTextColor;
                        @include dfas;
                        span
                        {
                            font-size: 18px;
                            margin-left: 1px;
                            line-height: 0.77;
                        }
                        margin-bottom: 3px;
                    }
                    a
                    {
                        font-size: 12px;
                    }
                }
            }
            .languages
            {
                @include dfac;
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translate(35px, -50%);
                width: 57px;
                img
                {
                    width: 25px;
                    height: 17px;
                    opacity: 0.26;
                    cursor: pointer;
                    &.active
                    {
                        opacity: 1;
                    }
                }
                img:last-child
                {   
                    margin-left: 7px;
                }
            }
        }
        &.show
        {
            position: sticky;
            top: 0 !important;
            left: 0 !important;
        }
    }
}
@media all and (max-width: $_media_XLarge) 
{
}
@media all and (max-width: $_media_Large) 
{
}
@media all and (max-width: $_media_Medium) 
{
}
@media all and (max-width: $_media_Small) 
{
}
@media all and (max-width: $_media_ExtraSmall) 
{
}