// Color Setting Starts

	// Site Background Color
	$_backgroundColor: #fff; 

	// Site Main Text Color
	$_mainTextColor: #434343;

	// First main color
	$_firstColor: #FFBB36;

	// Second main Color
	$_SecondColor: #9C598E;

	// Second text color
	$_secondTextColor: #FFFFFF;

	// Second background color
	$_secondBackgroundColor: #f8fafb;

	// Text Hover color
	$_textHoverColor: #9C598E;

// Color Setting Ends

